.header {
    width: 100%;
    background-color: #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #1f1f1f;
    position: sticky;
    top: 0;
    z-index: 100;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0 auto;
    height: 64px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 20px;
    object-fit: contain;
}

.menuContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    .menu {
        background: transparent;
        border-bottom: none;
        min-width: 500px;
        display: flex;
        justify-content: center;

        :global(.ant-menu-item) {
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
        }
    }
}

.authContainer {
    display: flex;
    gap: 1rem;
}

.signinButton,
.signupButton {
    padding: 8px 16px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 160px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .headerContainer {
        padding: 0 1rem;
    }

    .menu {
        min-width: auto;
    }
}

@media (max-width: 576px) {
    .authContainer button {
        padding: 4px 8px;
        font-size: 12px;
    }
}
