.filtersSection {
    margin-bottom: 24px;
    padding: 0 1rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    .sliderContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 1rem;
        .priceSlider {
            flex-grow: 1;
        }
    }
}
