.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #121212;
}

.mainContent {
  flex: 1;
}

.storeTitle {
  h1 {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-weight: 600;
  }
  margin-top: .5rem;
}
