.productCard {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .cardImgContainer {
        position: relative;
        overflow: hidden;
        padding-top: 133%;

        img,
        .skeletonImg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 350ms ease-out;
        }

        img:hover {
            transform: scale(1.1);
        }
        .cartIcon {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            color: #fff;
            font-size: 24px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.1);
            border: none;
        }
    }

    .cardMeta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: .75rem;
        .leftDesc {
            display: flex;
            flex-direction: column;
        }
        .priceTag {
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 24px;
            color: #ffffff;
        }
    }
}
